$--fw4: 400;
$--fw5: 500;
$--fw6: 600;
$--fw7: 700;

$--color27: #272727;
$--color-gray77: #777777;
$--color-gray93: #939393;
$--color-black: #000;
$--color-blue: #4267b2;
$--color-red: #f94c43;

$--fs14: 14px;
$--fs18: 18px;
$--fs28: 28px;

$--lh20: 20px;
$--lh22: 22px;
$--lh25: 25px;
$--lh16: 16px;
$--lh45: 45px;
$--lh66: 66px;

$--w60: 60px;
