<footer>
  <div class="container">
    <div class="footer_content">
      <div class="footer">
        <div class="footer_introduction">
          <h4 class="footer_title">giới thiệu</h4>
          <p>
            Nike Chuyên cung cấp các loại sản phẩm Giày, Dép, Hàng chính hãng
            giá rẻ, Real 100%
            <br />
            382/7 Nguyễn Thị Minh Khai, Phường 5, Quận 3, Hồ Chí Minh.
            <br />
            Chuyên Order và Hàng có Sẵn.
            <br />
            0327443238. ♦️ 100% Chính Hãng.
            <br />
            THANK YOU FOR SHOPPING WITH US !!
          </p>
        </div>
        <div class="footer_question">
          <h4 class="footer_title">pháp lý & câu hỏi</h4>
          <ul>
            <li><a> - tìm kiếm </a></li>
            <li><a> - giới thiệu </a></li>
            <li><a> - chính sách mua hàng </a></li>
            <li><a> - Chính sách thanh toán </a></li>
            <li><a> - Chính sách giao hàng </a></li>
            <li><a> - Chính sách đổi trả </a></li>
            <li><a> - Chính sách bảo mật </a></li>
            <li><a> - Điều khoản dịch vụ </a></li>
          </ul>
        </div>
        <div class="footer_contact">
          <h4 class="footer_title">pháp lý & câu hỏi</h4>
          <ul>
            <li>
              - Địa chỉ: 382/7 Nguyễn Thị Minh Khai, Phường 5, Quận 3, Hồ Chí
              Minh.
            </li>
            <li>- Điện thoại: 0327443238</li>
            <li>- Mail: nike.shop@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
